<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <nb-card>
        <nb-card-body class="example-items-rows">
            <label>
                <input type="text" nbInput formControlName = "userName" placeholder="username">
            </label><br>

            <label>
                <input type="password" nbInput formControlName = "password" placeholder="password">
            </label><br>

            <label>
                <input type="email" nbInput formControlName = "email" placeholder="email">
            </label><br>
            <label>
                <button nbButton type="submit" value="Submit" status = "primary" >Register</button>
            </label>

            <p style="color: red;">{{ notificationRegister }}</p>

        </nb-card-body>
    </nb-card>
</form>