<div *ngIf="flagSuccess">
    <nb-card>
        <nb-card-body>
            <nb-tabset fullWidth>
                <nb-tab tabTitle="Model detail">
                    <nb-card status="success">
                        <nb-card-header headerTitle>
                            Model {{ modelId }}
                        </nb-card-header>
                        <nb-card-body bodyWidth>
                            <table style="width:100%;">
                                <tr>
                                    <td class="width-columns">Data:</td>
                                    <td>{{ dataName }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Algorithm:</td>
                                    <td>{{ athm }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Columns feature:</td>
                                    <td>{{ colFeatureName }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Column label:</td>
                                    <td>{{ colLabelName }}</td>
                                </tr>
                            </table>
                            <div><br /></div>
                            <strong>DESCRIPTION</strong>
                            <hr
                                style="height:2px;width:50px;border-width:0;color:red;background-color:red;text-align:left;margin-left:0" />
                            <p>{{ descriptionModel }}</p>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
                <nb-tab tabTitle="Create API CSV">
                    <nb-card status="success">
                        <nb-card-header headerTitle>
                            Set up postman for model {{ modelId }}
                        </nb-card-header>
                        <nb-card-body bodyWidth>
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="2" class="button-right"> <button nbButton size="small"
                                            (click)="copyCurlJson()" type="submit" value="Submit" status="primary">
                                            copy
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Url</td>
                                    <td>{{ urlApiCsv }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Method</td>
                                    <td>POST</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Headers - Content/type</td>
                                    <td>multipart/form-data</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">modelId</td>
                                    <td>{{ modelId }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">dataTest</td>
                                    <td>datatest_name.csv</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">inputColumns</td>
                                    <td>{{ colFeature }}</td>
                                </tr>
                            </table>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
                <nb-tab tabTitle="Create API Json">
                    <nb-card status="success">
                        <nb-card-header headerTitle>
                            Set up postman for model {{ modelId }}
                        </nb-card-header>
                        <nb-card-body bodyWidth>
                            <table style="width: 100%;">
                                <tr>
                                    <td colspan="2" class="button-right"> <button nbButton size="small"
                                            (click)="copyCurlJson()" type="submit" value="Submit" status="primary">
                                            copy
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Url</td>
                                    <td>{{ urlApiJson }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Method</td>
                                    <td>POST</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">Headers - Content/type</td>
                                    <td>application/json</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">modelId</td>
                                    <td>{{ modelId }}</td>
                                </tr>
                                <tr>
                                    <td class="width-columns">inputColumns</td>
                                    <td>{{ colFeatureName }}</td>
                                </tr>

                            </table>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>
<div *ngIf="errorFlag" errorMess>
    <nb-card status="danger">
        <nb-card-header style="text-align: center">
            NOTIFICATION
        </nb-card-header>
        <nb-card-body errorMess>
            {{ errorDetail }}
        </nb-card-body>
    </nb-card>
</div>