[tableWidth] {
    width: 700px;
}

[headerTitle]{
    text-align: center;
    color:black;
}

[bodyWidth] {
    width: 748px;
}

[errorMess]{
    color:red;
    background-color:white;
    text-align: center;
}

.width-columns{
    width: 140px;
}

.button-right{
    text-align: right;
}