<nb-card [nbSpinner]="reload" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
  <!-- <nb-card-header tableTitle>Your Model</nb-card-header> -->
  <nb-card-body>
    <ag-grid-angular
      tableShowModel
      ar-grid-data
      [defaultColDef]="defaultColDef"
      class="ag-theme-alpine"
      [rowData]="showDataModels"
      [columnDefs]="columnDefs"
      (firstDataRendered)="onFirstDataRendered($event)"
      id="myGrid"
      [frameworkComponents]="frameworkComponents"
      [overlayLoadingTemplate]="loadingTemplate"
      [overlayNoRowsTemplate]="noRowsTemplate"
    >
    </ag-grid-angular>
  </nb-card-body>
  <nb-card-footer>
    <table>
      <tr>
        <td>
          <div><button
            nbButton
            size="small"
            (click)="modelVieUse()"
            type="submit"
            value="Submit"
            status="primary"
          >
            CHẨN ĐOÁN BÉO PHÌ (VIE)
          </button></div>
        </td>
        <td><div><button
          nbButton
          size="small"
          (click)="updateModelVn()"
          type="submit"
          value="Submit"
          status="primary"
        >
           CẬP NHẬT MÔ HÌNH (VIE)
        </button></div></td>
      </tr>
    </table>
    
    
  </nb-card-footer>
</nb-card>
<!-- <p *ngIf="errorFlag" errorGetDetail>{{ errorGetDetail }}</p> -->

<!--       <tr>
        <td>
          <div><button
            nbButton
            size="small"
            (click)="modelMxUse()"
            type="submit"
            value="Submit"
            status="primary"
          >
            CHẨN ĐOÁN BÉO PHÌ (MX)
          </button></div>
        </td>
        <td><div><button
          nbButton
          size="small"
          (click)="updateModelmX()"
          type="submit"
          value="Submit"
          status="primary"
        >
           CẬP NHẬT MÔ HÌNH (MX)
        </button></div></td>
      </tr> -->
