<div class="card-row">
  <div class="card-col">
    <nb-card size="medium" status="success">
      <nb-card-header>GIỚI TÍNH</nb-card-header>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="genderData"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="medium" status="success">
      <nb-card-header>NGHỀ NGHIỆP</nb-card-header>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme2"
        [results]="jobData"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="medium" status="warning">
      <nb-card-header>ĐỘ TUỔI</nb-card-header>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme3"
        [results]="age"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="medium" status="warning">
      <nb-card-header>CHỈ SỐ BMI</nb-card-header>
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="bmiValues"
        [gradient]="gradient"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </nb-card>
  </div>
</div>

<nb-card status="danger">
  <nb-card-header
    >TƯƠNG QUAN CHIỀU CAO TRUNG BÌNH THEO KHOẢNG CÂN NẶNG</nb-card-header
  >
  <nb-card-body>
    <ngx-charts-bar-vertical
      [view]="viewBar"
      [scheme]="colorScheme"
      [results]="heightWeight"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical>
  </nb-card-body>
</nb-card>

<div>
  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>SỐ BỮA ĂN TRONG NGÀY</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="mealOfThedayData"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>SỐ BỮA ĂN SÁNG TRONG TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="breakfastOfTheweek"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>SỐ BỮA ĂN TỐI TRONG TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="dinnerOfTheweek"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>SỐ BỮA ĂN SÁNG TRONG TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="breakfastOfTheweek"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>SỐ BỮA ĂN NHANH TRONG TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="fastfoodInWeek"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>LƯỢNG RAU CỦ MỖI BỮA ĂN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="vegetableInMeal"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>LƯỢNG THỰC PHẨM GIÀU PROTEIN MỖI BỮA</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="proteinOfMeal"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>NGUỒN GÔC THỰC PHẨM</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="sourceOfFood"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>LƯỢNG NƯỚC UỐNG MỖI NGÀY</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="waterInDay"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>THỜI GIAN TẬP THỂ DỤC MỖI TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="timeEx"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>THỜI GIAN CHƠI THỂ THAO MỖI TUẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="sporttime"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>SỬ DỤNG RƯỢU BIA</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="alcohol"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>TẦN SUẤT UỐNG NƯỚC NGỌT, CÓ GAS</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="sodawater"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>HÚT THUỐC LÁ</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="nicotine"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>MẮC BỆNH MÃN TÍNH</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="chronicDiseases"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>DÙNG THUỐC TRỊ BỆNH MÃN TÍNH</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="chronicDiseasesMedicine"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>CÓ NGƯỜI THÂN MẮC BỆNH MÃN TÍNH</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="chronicDiseasesRelative"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="danger">
        <nb-card-header>YÊU CẦU THỂ CHẤT TRONG CÔNG VIỆC</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="requireOfJob"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>PHƯƠNG TIỆN DI CHUYỂN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="transport"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="success">
        <nb-card-header>CÔNG VIÊN Ở KHU VỰC SỐNG</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="park"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>

  <div class="card-row">
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>SỬ DỤNG THUỐC AN THẦN</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme2"
          [results]="sedative"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium" status="warning">
        <nb-card-header>TRẦM CẢM, LO ÂU, CĂNG THẲNG</nb-card-header>
        <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme3"
          [results]="depression"
          [gradient]="gradient"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </nb-card>
    </div>
  </div>
</div>
