.button-left{
    text-align: left;
    float: left;
}
.td-style{
    padding-bottom: 20px;
    line-height: 40px !important;
    text-align:center
}

.input-style{
    width: 300px !important;
    float: none;
}